# IOSXE
## Needed for all IOSXE scripts:
export IOSXE_HOST=
export IOSXE_USERNAME=
export IOSXE_PASSWORD=

## Needed for IOSXE ping testcase:
export IOSXE_HOSTNAME=

##########################################################################

# Meraki
## Needed for all Meraki scripts:
export MERAKI_DASHBOARD_API_KEY=

## Needed for Meraki related testcases:
export MERAKI_SWITCH_SERIAL=
export MERAKI_AP_SERIAL=

##########################################################################

# Catalyst Center
## Needed for all Catalyst Center scripts:
export DNAC_HOST=
export DNAC_USERNAME=
export DNAC_PASSWORD=
export DNAC_VERIFY=False

## Needed for Catalyst Center related testcases:
export DNAC_CATALYST_ID= #YOUR IOS XE UUID in Catalyst Center

##########################################################################

# ThousandEyes
## Needed for ThousandEyes testcase
export TE_API_KEY=
export TE_AGENT=4